body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.bg-primary {
  background-color: #38435a !important;
}

.signup {
  height: 80%;
  overflow: auto;
}

.Title {
  color: white;
}

#url-input {
  padding-left: 5px;
  border: 1px solid white;
  background-color: white;
  font-size: 1.5rem;
}

#url-input:focus {
  box-shadow: -4px 6px 5px -2px black;
}

#url-input::placeholder {
  padding-left: 5px;
  font-size: 1rem;
  font-style: italic;
}

.error {
  color: rgb(234, 82, 82);
  font-size: 1.5rem;
}

ul > li > a {
  background-color: #38435a !important;
  padding: 0px !important;
}

div.col > input {
  color: white;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: auto
}

